<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.appointment.modular.doctor.dao.DoctorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.appointment.modular.doctor.entity.Doctor">
        <id column="D_ID" property="dId" />
        <result column="D_NAME" property="dName" />
        <result column="D_IDCARD" property="dIdcard" />
        <result column="D_TELEPHONE" property="dTelephone" />
        <result column="D_EMAIL" property="dEmail" />
        <result column="D_SEX" property="dSex" />
        <result column="D_IDENTITY" property="dIdentity" />
        <result column="D_PASSWORD" property="dPassword" />
        <result column="D_DEID" property="dDeId" />
        <result column="D_JOB" property="dJob" />
        <result column="D_STATUS" property="dStatus" />
    </resultMap>

    <sql id="baseField">
        D_ID,D_NAME,D_IDCARD,D_TELEPHONE,D_EMAIL,D_SEX,D_IDENTITY,D_PASSWORD,D_DEID,D_JOB,D_STATUS
    </sql>
    <select id="selectdoctor" resultType="com.example.appointment.modular.doctor.entity.Doctor">
        select <include refid="baseField"/> from DOCTOR where D_DEID=#{dDeId} and D_STATUS = 'true'
    </select>
    <select id="selectAdmin" resultType="com.example.appointment.modular.doctor.entity.Doctor">
        select D_ID,D_NAME,D_PASSWORD,D_IDENTITY,D_IDCARD from DOCTOR where D_ID=#{did} and D_PASSWORD=#{dpassword}
        and D_IDENTITY=#{didentity}
    </select>
    <select id="selectAll" resultType="com.example.appointment.modular.doctor.entity.Doctor">
        select  <include refid="baseField"/>, DE_NAME from  DOCTOR,DEPARTMENT
        where D_IDENTITY = '2' and D_STATUS = 'true' and DOCTOR.D_DEID =DEPARTMENT.DE_ID
    </select>

    <update id="updateStatus" >
        update DOCTOR set D_STATUS = 'false' where D_ID=#{did}
    </update>

    <select id="doctorinfo" resultType="com.example.appointment.modular.doctor.entity.Doctor">
        select <include refid="baseField"/>, DE_NAME from  DOCTOR,DEPARTMENT
        where D_ID= #{did} and DOCTOR.D_DEID = DEPARTMENT.DE_ID
    </select>

    <select id="doctorsinfo" resultType="com.example.appointment.modular.doctor.entity.Doctor">
        select DOCTOR.*,DEPARTMENT.DE_NAME from DEPARTMENT,DOCTOR
        where DOCTOR.D_DEID = DEPARTMENT.DE_ID
    </select>

    <select id="persondoctor" resultType="com.example.appointment.modular.doctor.entity.Doctor">
        select DOCTOR.*,DEPARTMENT.DE_NAME from DEPARTMENT,DOCTOR
        where DOCTOR.D_DEID = DEPARTMENT.DE_ID and doctor.D_IDCARD = #{didcard}
        and doctor.D_TELEPHONE= #{dtelephone}
    </select>

    <select id="idcard" resultType="java.lang.Integer">
        select count(*) from DOCTOR where DOCTOR.D_IDCARD=#{didcard}
    </select>

    <select id="selectName" resultType="com.example.appointment.modular.doctor.entity.Doctor">
        select DOCTOR.*,DEPARTMENT.DE_NAME from DEPARTMENT,DOCTOR
        where DOCTOR.D_DEID = DEPARTMENT.DE_ID and DOCTOR.D_NAME = #{select}
    </select>

    <select id="selectJob" resultType="com.example.appointment.modular.doctor.entity.Doctor">
        select DOCTOR.*,DEPARTMENT.DE_NAME from DEPARTMENT,DOCTOR
        where DOCTOR.D_DEID = DEPARTMENT.DE_ID and DOCTOR.D_JOB = #{select}
    </select>

    <select id="selectDepartment" resultType="com.example.appointment.modular.doctor.entity.Doctor">
        select DOCTOR.*,DEPARTMENT.DE_NAME from DEPARTMENT,DOCTOR
        where DOCTOR.D_DEID = DEPARTMENT.DE_ID and ,DEPARTMENT.DE_NAME = #{select}
    </select>
</mapper>
