<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.appointment.modular.appointment.dao.AppointmentMapper">

    <sql id="baseField">
        A_ID,A_START,A_END,A_DATE,A_DID,A_DEID,A_TELEPHONE,A_PID
    </sql>

    <select id="selectAppointment" resultType="com.example.appointment.modular.appointment.entity.Appointment">
        select department.de_name,doctor.d_name,appointment.a_date,appointment.a_start,appointment.a_end
        from appointment left join department on department.de_id = appointment.a_deid
        left join doctor on appointment.a_did = doctor.d_id where A_PID=#{pid}
    </select>
    <select id="getAppointment" resultType="java.lang.Integer">
        select count(*) from APPOINTMENT where A_PID=#{aPid} and A_DATE=#{aDate}
    </select>

    <select id="doctorAppointment" resultType="com.example.appointment.modular.appointment.entity.Appointment">
        select appointment.*,department.de_name,patient.p_name from appointment,
        doctor, department, patient where doctor.d_id = appointment.a_did and
        appointment.a_deid = department.de_id and appointment.a_pid = patient.p_id
        and doctor.d_id = #{did} and APPOINTMENT.A_STATUS = 'true' order by appointment.a_date DESC
    </select>

    <select id="appointmentinfo" resultType="com.example.appointment.modular.appointment.entity.Appointment">
        select PATIENT.P_IDCARD ,PATIENT.P_NAME,APPOINTMENT.*,PATIENT.P_SEX,DEPARTMENT.DE_NAME,
        DOCTOR.D_NAME from appointment,
        doctor, department, patient where doctor.d_id = appointment.a_did and
        appointment.a_deid = department.de_id and appointment.a_pid = patient.p_id
        and PATIENT.p_id = #{pid} and APPOINTMENT.A_ID = #{aid} and APPOINTMENT.A_STATUS = 'true'
    </select>

    <update id="updateStatus" >
        update APPOINTMENT set a_status = 'false' where A_ID = #{aid}
    </update>

    <select id="falsepatient" resultType="com.example.appointment.modular.appointment.entity.Appointment">
                select appointment.*,department.de_name,patient.p_name from appointment,
        doctor, department, patient where doctor.d_id = appointment.a_did and
        appointment.a_deid = department.de_id and appointment.a_pid = patient.p_id
        and APPOINTMENT.A_STATUS = #{aStatus}
    </select>
</mapper>
