<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.appointment.modular.otherarea.dao.OtherareaMapper">

    <!-- 通用查询映射结果 -->
    <!--<resultMap id="BaseResultMap" type="com.example.appointment.modular.otherarea.entity.Otherarea">-->
        <!--<result column="O_LOCATION" property="oLocation" />-->
        <!--<result column="O_ID" property="oId" />-->
        <!--<result column="O_JD" property="oJd" />-->
        <!--<result column="O_WD" property="oWd" />-->
    <!--</resultMap>-->

    <select id="otherarea" resultType="com.example.appointment.modular.otherarea.entity.Otherarea">
        select * from OTHERAREA where O_LOCAL = #{olocal}
    </select>
</mapper>
